/* Basic styling for the container */
.container {
    padding: 3rem;
}

/* Main heading style */
/* .container h1 {
    fon
} */
.lightBlue{
    color: #8AD7F5;
}

/* Subheading style */
.container p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Styling for the specialties section */
.specialties {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}@media (max-width: 640px) {
    .specialties{
        grid-template-columns: repeat(2, 1fr);
        
    }
}
.specialty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.specialtyIcon{
    position: relative;
    background-color: #8AD7F5;
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
}@media (max-width: 1005px) {
    .specialtyIcon{
      height: 10rem;
      width: 10rem;
    }
}@media (max-width: 830px) {
    .specialtyIcon{
      height: 7rem;
      width: 7rem;
    }
  }
.specialtyName{
    text-align: center;
    color: #1341A3;
}
.para1{
    margin-top: 2.5rem;
    font-size: 1.2rem;
}
.heading2{
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 2.5rem;
}

.illnessBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

/* .illnessContainer{
    display: flex;
} */
.illnessContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 1rem;
}@media (max-width: 1000px) {
    .illnessContainer{
        grid-template-columns: repeat(5, 1fr);
        /* grid-template-columns: max-content auto;  */
        row-gap: 1rem;
    }
}@media (max-width: 550px) {
    .illnessContainer{
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-columns: max-content auto;  */
        row-gap: 1rem;
    }
}
@media (max-width: 480px) {
    .illnessContainer{
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-columns: max-content auto;  */
        row-gap: 1rem;
    }
  }

.illnessContainerBottom{
    margin-top: 1rem;
}

.illness{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    background-color: #8AD7F5;
    color: #1341A3;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    /* font-size: 5px; */
}

.img{
    border-radius: 100%;
    object-fit: cover;
}