.header{
    text-align: center;
}
.contactListContainer{
    padding: 2rem;
    overflow-y: scroll
}
.contactList{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    padding: 1rem;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    background-color: purple;
}
.contactContainer{
    display: flex;
    flex-direction: column;
    height: 5rem;
}
.contactContainer h3{
    margin-bottom: 0.5rem;
}
.imgText{
    color: #8AD7F5;
}