.loginPlate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 8vh;
    margin-right: 4rem;
    border-radius: 100%;
    background-color: purple;
    position: relative;

}
@media (max-width: 700px) {
    .loginPlate{
        height: 60%;
        width: 6vh;
    }
}
.letter{
    color: #8AD7F5;
    text-align: center;
}
.showProfileMenu{
    display: block;
    position: absolute;
    background-color: #1341A3;
    top: 4rem;
    color: #fff;
    z-index: 10;
    padding: 1rem;

}
.hideProfileMenu{
    display: none;
}
.showProfileMenu li{
    list-style-type: none;
    margin-bottom: 1rem;
    cursor: pointer;
}
.closeMenu{
    text-align: end;
}