.form{
    width: 70%;
    background-color: #fff;
    padding: 3rem;
}@media (max-width: 830px) {
    .form{
        width: 90%;
        padding: 2rem;
    }
}
.errorMsg{
 text-align: center;
 color: red;   
}
.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: 2rem;
}@media (max-width: 550px) {
    .inputContainer{
        flex-direction: column;
        gap: 1rem;
    }
}

.inputContainer input{
    width: 40%;
    height: 3rem;
    text-align: center;
}@media (max-width: 830px) {
    .inputContainer input{
        width: 95%;
    }
}
