.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.appointmentGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 3rem;
    width: 100%;
}

.tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: #fff;
    height: 10rem;
    width: 15rem;
}
