.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
}
.appointmentGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 3rem;
    width: 100%;
}@media (max-width: 500px) {
    .appointmentGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: #fff;
    height: 10rem;
    width: 15rem;
}
