.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form select{
    width: 15rem;
    text-align: center;
}@media (max-width: 555px) {
    .form select{
        width: 10rem;
    }
    
}
.form input{
    width: 15rem;
    text-align: center;
}@media (max-width: 555px) {
    .form input{
        width: 10rem;
    }
    
}
.form label{
    text-align: center;
}
.inputContainer{
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
}
.subContainer{
    display: flex;
    flex-direction: column;
}
.err{
    color: red;
}