.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.imgHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    background-color: purple;
}@media (max-width: 500px) {
    .imgHolder{
        height: 9rem;
        width: 9rem;
        
    }
}
.imgText{
    color: #8AD7F5;
}

.head{
    display: flex;
    justify-content: space-between;
}
.name{
    color: black;
}
.rightHead{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 50%;

}

.rightHead p{
    color: black;
        
}


.leftHead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    padding: 2rem;
    /* background-color: blue; */

}
.btnSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}@media (max-width: 500px) {
    .btnSection button{
        width: 11rem;
        
    }
}