.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.imgHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    background-color: purple;
}
.imgText{
    color: #8AD7F5;
}

.head{
    display: flex;
    justify-content: space-between;
}
.rightHead{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 50%;
  
    
}

.leftHead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    padding: 2rem;
    /* background-color: blue; */

}
.btnSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}