.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profGrid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profGrid button{
    
    display: block;
}