.form{
    width: 70%;
    background-color: #fff;
    padding: 3rem;
}@media (max-width: 830px) {
    .form{
        padding: 2rem;
    }
}
.errorMsg{
 text-align: center;
 color: red;   
}
.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: 2rem;
}

.inputContainer input{
    width: 70%;
    height: 3rem;
    text-align: center;
}@media (max-width: 830px) {
    .inputContainer input{
        width: 95%;
    }
}