.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.buttonDiv{
    margin-bottom: 3rem;
}
.buttonDiv1{
    display: flex;
    align-items: center;
}@media (max-width: 700px) {
    .buttonDiv1{
        color: black;
    }
}

.signupBtn{
    color: blue;
    cursor: pointer;
}